body{font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;}

#banner{height: 180px;width: 100%;background: url(image/Banner.png)no-repeat;font-size: 14px;color: white;}
#banner .banner{height: 36px;width: 100%;padding: 10px 24px;background: url();}
#banner li{line-height: 30px;font-weight: 400px;}
/* 首屏 */

/* 站内 */

/* 底部 */

/* */